<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.AlbumMapper">
    <resultMap id="BaseResultMap" type="com.entity.Album">
        <id column="pid" jdbcType="INTEGER" property="id"/>
        <result column="ptitle" jdbcType="VARCHAR" property="title"/>
        <result column="coverImg" jdbcType="VARCHAR" property="coverImg"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="score" jdbcType="VARCHAR" property="score"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="broadCast" jdbcType="VARCHAR" property="broadcast"/>
        <result column="brief" jdbcType="VARCHAR" property="brief"/>
        <result column="publishDate" jdbcType="TIMESTAMP" property="publishDate"/>
        <collection property="children" ofType="com.entity.Chapter" select="getChapter" column="{id = pid}">

        </collection>
    </resultMap>

    <resultMap id="map" type="com.entity.Chapter">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="size" jdbcType="DOUBLE" property="size"/>
        <result column="duration" jdbcType="VARCHAR" property="duration"/>
        <result column="downPath" jdbcType="VARCHAR" property="downPath"/>
        <result column="uploadDate" jdbcType="TIMESTAMP" property="uploadDate"/>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            p.id    pid,
            p.title ptitle,
            p.coverImg,
            p.count,
            p.score,
            p.author,
            p.broadCast,
            p.brief,
            p.publishDate
        FROM
            cmfz_album p

    </select>
    <select id="getChapter" resultMap="map">
        SELECT *
        FROM cmfz_chapter
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from cmfz_album
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.entity.Album">
        insert into cmfz_album (title, coverImg,
                                count, score, author,
                                broadCast, brief)
        values (#{title,jdbcType=VARCHAR}, #{coverImg,jdbcType=VARCHAR},
                #{count,jdbcType=INTEGER}, #{score,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR},
                #{broadcast,jdbcType=VARCHAR}, #{brief,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.entity.Album">
        update cmfz_album
        set title     = #{title,jdbcType=VARCHAR},
            coverImg  = #{coverimg,jdbcType=VARCHAR},
            count     = #{count,jdbcType=INTEGER},
            score     = #{score,jdbcType=VARCHAR},
            author    = #{author,jdbcType=VARCHAR},
            broadCast = #{broadcast,jdbcType=VARCHAR},
            brief     = #{brief,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>